*
.*

!.gitignore
!iaguara.sh
!README.md
!UNLICENSE

!bin/
!bin/**/*
!bin/**/.*

!alpine/
!alpine/**/*
!alpine/**/.*

!base/
!base/**/*
!base/**/.*

!docker/
!docker/**/*
!docker/**/.*

!git/
!git/**/*
!git/**/.*
