Protocol 2
Port 22
PubkeyAuthentication yes
PasswordAuthentication no
AllowTcpForwarding no
X11Forwarding no
AllowUsers root
PrintMotd no
IgnoreUserKnownHosts yes
PermitRootLogin no
PermitEmptyPasswords no
PermitUserEnvironment yes
AcceptEnv LANG LANGUAGE LC_ALL

Match Address 172.66.6.*
  PasswordAuthentication yes
  PermitEmptyPasswords yes
